# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules
client/node_modules

# testing

# production

# misc
.DS_Store
.env
npm-debug.log

# vendor
.idea
